# 줄바꿈 통일
* text eol=lf

# Unity YAML 포맷은 텍스트로 처리(디프 보기 좋게)
*.meta text
*.unity text
*.prefab text
*.mat text
*.anim text
*.controller text
*.shader text
*.cginc text
*.compute text
*.shadergraph text
*.vfx text
*.asmdef text
*.asset text

# 큰 바이너리는 LFS
*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text